body {
    background-image: url("image/bkg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Segoe UI';
}

.container {
    background-color: white;
    margin: auto;
    width: 1100px;
}

.members {
    color: #484848;
    display: flex;
    height: 60%;
    justify-content: center;
    margin: auto;
    position: absolute;
    text-align: center;
    top: 100px;
    width: 1100px;
}

.members .mem1 {
    background-color: white;
    height: 200px;
    line-height: 5px;
    margin: 10px;
    padding-top: 50px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.nama {
    font-size: 18px;
    font-weight: bold;
}

.nim {
    font-size: 16px;
}

.footer {
    bottom: 100px;
    color: #ffffff;
    line-height: 15px;
    margin: auto;
    position: absolute;
    text-align: center;
    width: 1100px;
}

.footer .judul {
    font-size: 50px;
    font-weight: bold;
}

.footer .mk {
    font-size: 25px;
}

a:link {
    color: #484848;
    text-decoration: none;
}

a:visited {
    color: rgb(0, 119, 255);
}