* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    align-items: center;
    background-image: url("image/bkg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Segoe UI';
    justify-content: center;
}

.container {
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 100%;
}

.members {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    height: auto;
    justify-content: center;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

.members .mem1 {
    background-color: white;
    border-radius: 10px;
    color: #484848;
    line-height: 20px;
    margin: 10px;
    padding: 5px;
    padding-top: 40px;
    padding-bottom: 20px;
    width: 220px;
}

.nama {
    font-size: 18px;
    font-weight: bold;
}

.nim {
    font-size: 16px;
}

.footer {
    color: #ffffff;
    line-height: 45px;
    margin-top: 70px;
    text-align: center;
}

.footer .judul {
    font-size: 50px;
    font-weight: bold;
}

.footer .mk {
    font-size: 20px;
}

a:link {
    color: #484848;
    text-decoration: none;
}

a:visited {
    color: rgb(0, 119, 255);
}